@import url("https://fonts.googleapis.com/css?family=Montserrat");
:root {
  --font: "Montserrat";
  --color: #001220;
  --bg-color: #fcaf3c;
}
.nft-swiper {
  width: 100%;
}
.nft-swiper-wrapper {
  width: auto !important;
  height: 35em;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 2em;
  padding-bottom: 1em;
}

.nft-card {
  width: 20em !important;
  height: 90% !important;
  border-radius: 1em;
  padding: 2em 2em;
  background-color: #ff00dd28;
  box-shadow: 0 0 0.5em #ea00ff;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2em;
  position: relative;
  border-radius: 15px;
  margin: 30px;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(800px);
}
.nft-swiper-slide:not(.swiper-slide-active) {
  filter: brightness(80%) blur(0.5px);
  -webkit-filter: brightness(80%) blur(0.5px);
  background-color: #ffe1cc00;
}
.nft-card-image {
  width: 10em !important;
  height: 10em !important;
  border-radius: 50%;
  padding: 3px;
  margin-bottom: 2em;
  .rgb {
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    transform: perspective(1000px);
  }
  img {
    width: 9.5em !important;
    height: 9.5em !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    z-index: 10;
    display: block;
  }
}
.rgb::after {
  content: "";
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
  border-radius: 50%;
  filter: blur(8px);
  transform-style: flat;
  z-index: -10;
  animation: rgb 6s linear infinite;
}
@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nft-card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffe1cc;
}
.nft-card-title {
  font-size: larger;
  position: relative;
  top: 0.2em;
}
.nft-card-name {
  color: #ec9355;
  font-size: larger;
}
.nft-card-text {
  text-align: center;
  margin: 2em 2em;
}
.nft-card-btn {
  background-color: var(--color);
  color: white;
  text-transform: uppercase;
  font-size: large;
  font-family: "Montserrat";
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #ea00ff;
  margin-top: 0.5em;
  cursor: pointer;
  &:hover {
    color: #af8c73;
  }
}
