.button-up {
  display: block;
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  cursor: pointer;
  padding: 6px;
  padding-top: 10px;
  border-radius: 50%;
  background: rgba(0, 18, 32, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(10.5px);
  color: white;
  &:hover{
    color: pink;
  }
}
.none {
  display: none;
}
.button-down {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  cursor: pointer;
  padding: 6px;
  padding-top: 10px;
  border-radius: 50%;
  background: rgba(0, 18, 32, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(10.5px);
  color: white;
  &:hover{
    color: pink;
  }
}
